@charset "UTF-8";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*定义model的公共css*/
%Model{
  border: 1px;
  width: 20px;
  height: 20px;
  position: absolute;
}
$modelStatus:(
  activityModel:linear-gradient(70deg, indianred, white),
  inactiveModel:linear-gradient(70deg, grey, white)
);

/* 遍历$modelStatus的所有key，创建各自的类 */
@each $name, $value in $modelStatus {
  .#{$name} {
    @extend %Model;
    background: $value;
  }
}

.site{
  position: absolute;
  left: 200px;
  top: 200px;
  width: 200px;
  height: 360px;
  background: black;
}